#grpCallConfig{
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 400px;
    display: flex;
    z-index: -999;
    opacity: 0;
    background-color: #fafafc;
}

#xConfigMaskLayer{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #010101;
    z-index: -999;
    opacity: 0;
}

#configHead{
    text-align: center;
    width: 100%;
    line-height: 50px;
    font-size: 20px;
    /*letter-spacing: 5px;*/
    border-bottom: 1px solid #ececed;
    background-color: #fff;
}

#closeFont{
    cursor: pointer;
    position: absolute;
    width: 21px;
    height: 21px;
    line-height: 21px;
    top: 5px;
    right: 5px;
}

#xConfigTable{
    margin: 0 10px 10px 10px;
    font-family: cursive;
    font-size: 12px;
    border-collapse:separate;
    border-spacing:2px;
}
#xConfigTable tr{
    font-size: 20px;
}
#xConfigTable th{
    text-align: center;
}
.xLabelTip{
    width: 80px;
    text-align: right;
    line-height: 32px;
    display: inline-block;
    padding-right: 10px;
    font-size: 14px;
    vertical-align: top;
    font-weight: bold;
}

#submitConfig{
    width: 178px;
    height: 25px;
    color: #fff;
    margin-top: 3px;
}
#x-makeCall{
    width: 50px;
    height: 25px;
    color: #fff;
    margin-top: 3px;
}

.x-icon-logo{
    vertical-align: -10%;
    margin-right: 8px;
    width: 24px;
    height: 24px;
    background-position: 0 0;
    background-image: url(../popup/logo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
}
#xMessageTip{
    color: red;
    text-align: center;
    width: 100%;
    /*background: #dfedfa;*/
    height: 18px;
}
.newChatCallLink{
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
    opacity:0;
}

.fadein {
    opacity: 100;
    filter: alpha(opacity=100);
}

/*****************************************拨号图标1************************************************************/
#grpLinearCallSVG{
    cursor: pointer;
}
#grpLinearCallSVG path:nth-child(1){
    stroke-width: 1.8;
    stroke: currentColor;
}
#grpLinearCallSVG:hover path:nth-child(1){
    fill: currentColor;
    /*-webkit-animation: callPath1 1s ease-in-out infinite;*/   /*通过js设置fill颜色*/
}
@-webkit-keyframes callPath1 {
    0% {
        color: #FFF;
    }
    100% {
        color: #cddc39;
    }
}
#grpLinearCallSVG:hover path:nth-child(2){
    /*fill: #cddc39;*/
    -webkit-animation: callPath2 1s ease-in-out infinite;
}
#grpLinearCallSVG:hover path:nth-child(3){
    /*fill: #cddc39;*/
    -webkit-animation: callPath3 1s ease-in-out infinite;
}
@-webkit-keyframes callPath2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes callPath3 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;  /* 延时显示 */
    }
    100% {
        opacity: 1;
    }
}

/*****************************************拨号图标2************************************************************/
#grpFaceCallSVG{
    cursor: pointer;
}
#grpFaceCallSVG path:nth-child(1){
    fill: currentColor;
    /*color: #cddc39;*/
}
#grpFaceCallSVG:hover path:nth-child(1){
    stroke-width: 1;
    /*-webkit-animation: call2Path1 1s ease-in-out infinite;*/
}
/*@keyframes 规则，将一套 CSS 样式逐渐变化为另一套样式。*/
@-webkit-keyframes call2Path1 {
    0% {
        stroke-width: 1;
        stroke: #cddc39
    }
    100% {
        stroke-width: 1;
        stroke: rgb(43, 93, 166)
    }
}
#grpFaceCallSVG:hover path:nth-child(2){
    opacity: 0;
    fill: rgb(43, 93, 166);
    -webkit-animation: callPath2 1s ease-in-out infinite;
}
#grpFaceCallSVG:hover path:nth-child(3){
    opacity: 0;
    fill: rgb(43, 93, 166);
    -webkit-animation: callPath3 1s ease-in-out infinite;
}

/*********************************************自定义html元素********************************************************/
grpSpan {
    text-decoration: underline;
    cursor: pointer;
    color: #2d65e7;
    /*color: red;*/
}

/******************************************* 网页拨号样式 *******************************************************************/
.addGrpSpan {
    position: absolute;
    left: 100px;
    top: 150px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0px 0px 10px #002761;
    border-radius: 3px;
    z-index: 999;
    width: 322px;
    height: 119px;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
}
.addGrpSpan_hidden{
    display: none;
}

.addGrpSpan:hover {
    box-shadow: 0 0 0 1px rgba(0,0,0,.05), 0 2px 4px 1px rgba(0,0,0,.14);
}
.addContentWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    z-index: 100;
    position:absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.addGrpTop{
    height: 20%;
    min-height: 30px;
    display: flex;
    justify-content: space-between ;
    justify-items: center;
    align-items: center;

    padding-left: 10px;
    padding-top: 16px;
    padding-right: 10px;
    box-sizing: border-box;
}
.addGrpBottom{
    /*width: 90%;*/
    height: 80%;
    max-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
}

.addGrpClose{
    width: 20px;
    height: 20px;
    position: absolute;
    right:0;
    margin: -10px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: rgb(0, 39, 97) 0px 0px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/**************框架样式之上方**********************/
.addGrpLeft, .addGrpRight{
    width:16px;
    height:16px;
    display: flex;
    justify-content: center ;
    justify-items: center;
    align-items: center;
}
.addGrpCenter{
    display: flex;
    justify-content: center ;
    justify-items: center;
    align-items: center;
}

.addGrpIcon{
    width: 16px;
    height:16px;
}
.addGrpCenter_icon{
    /*width: 52px;*/
    /*height: 20px;*/
    width: 24px;
    height: 24px;
    background-color: #D8E9FF;
    border-radius: 1px;
    text-align: center;
    display: flex;
    justify-content: center ;
    justify-items: center;
    align-items: center;
}
.addGrp_iconText{
    /*width: 40px;*/
    /*height: 18px;*/
    width: 24px;
    height: 24px;
    font-family: OpenSans;
    font-size: 14px;
    color: #288EF6;
    letter-spacing: 0;
    line-height: 18px;

}

.addGrpCenter_content{
    width: 221px;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;


    padding-left:4px;
    display: flex;
    justify-content: start;
}

.addGrpCenter_content input{
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;

    color: #222222ff;
    font-size: 16px;
    font-face: PingFangSC;
    /*font-weight: 400;*/
    font-weight: bolder;
    letter-spacing: 0;
    paragraph-spacing: 0;
    text-align: left;
    border: none;
    outline: none;
    background-color: transparent;
}

.addGrpCenter_content input:focus{
    border: 1px solid #ebeef5;
    outline: 1px solid rgba(255, 255, 255, 0.1);
}

/********************框架样式之下方**************************/

.addGrpContent{
    width: 248px;
    max-width: 100%;
    max-height:100%;
    text-align: left;
    margin: 0 auto;
}

.addGrpContent:hover  .addGrpTips{
    /*display:block;*/
}


.addGrpShow{
    /*width: 248px;*/
    /*height: 26px;*/
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    justify-items: center;
}

.addGrp_phoneNumber{
    width: 248px;
    height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;

    color: #222222ff;
    font-size: 16px;
    font-face: PingFangSC;
    font-weight: 400;
    letter-spacing: 0;
    paragraph-spacing: 0;
    text-align: left;
}
.addGrp_email{
    width: 238px;
    height: 20px;
    color: #6e7176ff;
    font-size: 14px;
    font-face: PingFangSC;
    font-weight: 400;
    letter-spacing: 0;
    paragraph-spacing: 0;
    text-align: left;
    text-overflow: ellipsis;

    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
}

.addGrpShow_email{
    max-width: 100%;
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

/*******************tips 相关样式*************************/
.addGrpTips{
    /*min-width: 225px;*/
    padding: 10px;
    background: #15191C;
    box-shadow: 0 2px 8px 0 #0000004f;
    word-wrap:break-word;
    word-break:break-all;
    color: #FFFFFF;
    font-size: 12px;

    position: absolute;
    top: -120px;
    left: 80px;
    pointer-events: none;
}

#addGrpTipsContent{
    /*width: 265px;*/
    /*height: 110.06px;*/
    display: none;
}
.addGrpTips div:nth-child(n){
    width: 270px;
    display:flex;
    justify-content: start;
    align-items: center;
    word-break: break-all;
    padding:2px;
}
.addGrp_tips_content{
    /*min-width: 250px;*/
}
.addGrpTips div span:nth-child(1){
    min-width: 90px;
    display:flex;
    justify-content: start;
    align-items: center;
    word-break: break-all;
}

.addGrpTips div span:nth-child(2){
    max-width: 300px;
    min-width: 130px;
    display:flex;
    justify-content: start;
    align-items: center;
    word-break: break-all;
}

/*******************账户号码相关样式*************************/
.userAccount{
    width: 250px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:9px;
}
.addGrp_wrapper{
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.addGrp_selectContent{
    width: 170px;
    height: 32px;
    border:1px solid #DEE0E5;
    border-radius: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
/***** 走马灯效果 ******/
.addGrp_getContent_wrapper{
    width: 118px;
    height: 20px;
    line-height: 20px;
    font-family: OpenSans;
    font-size: 14px;
    color: #222222;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
}

.addGrp_container_words{
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
}

.addGrp_container_words_hover:hover {
    position: relative;
    /* 盒子背景宽度将随文字宽度而进行自适应 */
    width: fit-content;
    /* 添加动画 */
    /*animation: move 4s linear infinite;*/
    animation: move 4s linear;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.addGrp_iconBtn{
    width: 16px;
    height: 16px;
    display: flex;
    /*border: 1px dashed #bbbec5;*/
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.addGrp_icon{
    width: 16px;
    height: 16px;
}


.addGrp_selectContent:hover .addGrp_showSelectOption{
    display:block;
}

.addGrp_showSelectOption{
    position:absolute;
    top: 105px;
    left: 36px;
    z-index:101;
    display:none;
    box-sizing: border-box;
}

.addGrp_ul{
    list-style:none;    //去掉标签默认的左边符号
    margin: 0px;
    padding: 0px;
    margin: 0;
    padding:0;
    width: 170px;
    border:1px solid #DEE0E5;
    border-radius: 4px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
    box-sizing: content-box;
}


.addGrpOption, .addGrp_ul li{
    width: auto;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #222222;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFFFF;
    padding-left: 4px;

}

.addGrp_ul li span{
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
}
.addGrp_ul li:hover{
    background: #E9EAED;
    /*color: #6fa8dc;*/
}
.addGrp_ul li:nth-child(1){
    margin-top: 4px;
}

.addGrp_ul li:nth-last-child(1){
    margin-bottom: 4px;
}

.addGrp_phone_number_tip{
    padding: 2px 5px;
    background: #FFFFFF;
    border-radius: 4px;
    font-size: 12px;
    color: #222222;
    letter-spacing: 0;
    font-weight: 400;
    box-shadow: 0 0 16px 0 rgba(8, 25, 62, 0.2);
    font-family: OpenSans;
    position: absolute;
    top: -26px;
    line-height: 24px;
    z-index: 100;
}

.addGrp_phone_number_tip_icon{
    border: 8px solid transparent;
    border-top-color:  #B0C4DE;
    position: absolute;
    top: 100%;
    left: 50%;
}

#addGrp_optionTips{
    width: 500px;
    transform-origin: center bottom;
    z-index: 101;
    display: none;
    top: 30px;
    pointer-events: none;
}
.addGrp_showOptionTips{
    position: absolute;
    background: #FFF;
    min-width: 150px;
    border-radius: 4px;
    border: 1px solid #EBEEF5;
    padding: 8px;
    z-index: 102;
    color: #FFFFFF;
    line-height: 1.4;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    word-break: break-all;
}

/************呼叫按钮相关样式***************/
.addGrp_btn{
    height: 90%;
    width: 80px;
    min-height: 31px;
    margin-left:8px;
    text-align: center;
    line-height: 90%;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.addGrp_call{
    height: 100%;
    width: 100%;
    max-width: 80px;
    border-radius: 2px;
    font-family: OpenSans;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #27CA15;
    border: none;
    letter-spacing: 0;
    cursor: pointer;
}

/*** 号码tips显示 **/

.number_tip{
    width: 300px;
    position: absolute;
    left: -40%;
    color: white;
    top: -25px;
    z-index: 103;
    background-color: #bcc7e3;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    word-break: break-all;
    pointer-events: none;

    text-align: center;
    height:30px;
    line-height: 30px;
    font-size: 14px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}

/****************关于显示当前账号id css 样式********************/
.addGrp-icon-parent {
    position: relative;
    width:24px;
    height:24px;
    flex-shrink: 0;
}

.addGrp-icon-floater {
    width:18px;
    height:18px;
    line-height:18px;
    position: absolute;
    top: 0;
    right: 0;
    font-family: OpenSans-SNaNpxibold;
    font-weight: 400;
    font-size: 14px;
    color: #222222;
    text-align: center;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transform-origin: 10% 50%;
    transform-origin: 10% 50%;
}

/************************** icon *****************************/
.GRP-icon-down {
    background: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20width%3D%27100%25%27%20height%3D%27100%25%27%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20id%3D%22GRP-icon-down_s%22%20viewBox%3D%220%200%201024%201024%22%3E%3Cpath%20d%3D%22M265.344%20393.344a32%2032%200%200%201%2040.832-3.648l4.48%203.648L512%20594.752l201.344-201.408a32%2032%200%200%201%2040.832-3.648l4.48%203.648a32%2032%200%200%201%203.648%2040.832l-3.648%204.48-224%20224a32%2032%200%200%201-40.832%203.648l-4.48-3.648-224-224a32%2032%200%200%201%200-45.312z%22%20fill%3D%22%23909399%22%20%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
}

.GRP-icon-icon_left {
    background: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20width%3D%27100%25%27%20height%3D%27100%25%27%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20id%3D%22GRP-icon-icon_left%22%20viewBox%3D%220%200%201024%201024%22%3E%3Cpath%20d%3D%22M640%20832L320%20545.216%20638.464%20256z%22%20fill%3D%22%23909399%22%20%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
}

.GRP-icon-icon_right {
    background: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20width%3D%27100%25%27%20height%3D%27100%25%27%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20id%3D%22GRP-icon-icon_right%22%20viewBox%3D%220%200%201024%201024%22%3E%3Cpath%20d%3D%22M384%20832l320-286.784L385.536%20256z%22%20fill%3D%22%23909399%22%20%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
}

.GRP-icon-icon_meeting {
    background: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20width%3D%27100%25%27%20height%3D%27100%25%27%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20id%3D%22GRP-icon-icon_meeting%22%20viewBox%3D%220%200%201024%201024%22%3E%3Cpath%20d%3D%22M0%200m256%200l512%200q256%200%20256%20256l0%20512q0%20256-256%20256l-512%200q-256%200-256-256l0-512q0-256%20256-256Z%22%20fill%3D%22%23E1F0FF%22%20%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M768%20149.333333v298.666667H256v-298.666667h512zM704%20213.333333h-384v170.666667h384V213.333333zM256%20512v170.666667h85.333333v85.333333H213.333333v42.666667h42.666667v42.666666H128v-42.666666h42.666667v-42.666667H128v-256h128z%20m320%200v170.666667h42.666667v85.333333h-85.333334v42.666667h42.666667v42.666666h-128v-42.666666h42.666667v-42.666667h-85.333334v-85.333333h42.666667v-170.666667h128z%20m320%200v256h-42.666667v42.666667h42.666667v42.666666h-128v-42.666666h42.666667v-42.666667h-128v-85.333333h85.333333v-170.666667h128zM405.333333%20554.666667v85.333333H298.666667v-85.333333h106.666666z%20m320%200v85.333333h-106.666666v-85.333333H725.333333z%22%20fill%3D%22%233890FF%22%20%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
}

.GRP-icon-icon_home {
    background: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20width%3D%27100%25%27%20height%3D%27100%25%27%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20id%3D%22GRP-icon-icon_home%22%20viewBox%3D%220%200%201024%201024%22%3E%3Cpath%20d%3D%22M0%200m256%200l512%200q256%200%20256%20256l0%20512q0%20256-256%20256l-512%200q-256%200-256-256l0-512q0-256%20256-256Z%22%20fill%3D%22%23E1F0FF%22%20%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M893.525333%20507.221333L781.653333%20414.933333V229.418667a16.085333%2016.085333%200%200%200-16.085333-16.042667h-75.050667a16.042667%2016.042667%200%200%200-16%2016.042667v97.28l-119.893333-98.688a64.256%2064.256%200%200%200-81.749333%200l-338.986667%20279.210666a15.744%2015.744%200%200%200-5.76%2010.837334c-0.426667%204.266667%200.853333%208.533333%203.584%2011.776l34.133333%2041.557333a16.042667%2016.042667%200%200%200%2022.698667%202.133333l315.050667-259.456a16.469333%2016.469333%200%200%201%2020.48%200l315.008%20259.498667a16%2016%200%200%200%2022.613333-2.133333l34.133333-41.557334a16%2016%200%200%200-2.261333-22.613333m-389.973333-138.24l-246.954667%20203.306667v219.477333c0%2011.861333%209.557333%2021.461333%2021.418667%2021.461333l150.058666-0.426666a21.376%2021.376%200%200%200%2021.333334-21.418667v-128.170667c0-11.818667%209.6-21.418667%2021.418666-21.418666h85.76c11.818667%200%2021.376%209.6%2021.376%2021.418666v128.128a21.333333%2021.333333%200%200%200%2021.461334%2021.461334l149.973333%200.426666a21.418667%2021.418667%200%200%200%2021.461333-21.461333v-219.605333L523.946667%20368.981333a16.298667%2016.298667%200%200%200-20.48%200%22%20fill%3D%22%233890FF%22%20%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
}

.GRP-icon-icon_company {
    background: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20width%3D%27100%25%27%20height%3D%27100%25%27%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20id%3D%22GRP-icon-icon_company%22%20viewBox%3D%220%200%201024%201024%22%3E%3Cpath%20d%3D%22M0%200m256%200l512%200q256%200%20256%20256l0%20512q0%20256-256%20256l-512%200q-256%200-256-256l0-512q0-256%20256-256Z%22%20fill%3D%22%23E1F0FF%22%20%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M657.066667%20601.6h46.72v-90.496H657.066667v90.453333z%20m47.701333%20138.752c0-28.032%200.981333-55.637333-0.981333-82.218667-0.512-4.394667-15.274667-10.837333-23.168-11.264-8.32%200-23.552%205.888-23.552%2010.325334-1.962667%2027.52-0.981333%2055.125333-0.981334%2083.157333h48.64z%20m-405.888-221.44h93.013333v-54.101333h-93.013333v54.101333z%20m157.952-153.941333h93.013333V311.338667h-93.013333v53.632z%20m-157.44%200h92.501333V311.338667H299.392v53.632z%20m159.872%20306.944h92.501333v-54.613334h-92.501333v54.613334z%20m-160.853333-0.426667h93.44v-53.162667h-93.44v53.162667z%20m158.976-152.576h92.928v-56.533333H457.386667v56.533333z%20m398.890666%20310.442667H184.746667c-21.162667%200-15.744-33.450667-2.005334-40.32%2013.824-6.442667%2031.488-6.912%2050.176-10.368V262.485333C232.96%20223.146667%20242.816%20213.333333%20282.666667%20213.333333h284.842666c36.906667%200%2047.744%2010.325333%2047.744%2045.738667%200%2049.706667%200.981333%2056.746667-0.512%20106.325333-0.512%2016.768%204.906667%2024.192%2022.144%2028.117334%2034.432%208.789333%2067.84%2020.181333%20101.333334%2030.464%2043.306667%2013.781333%2058.026667%2033.450667%2058.026666%2077.738666v251.861334c0%208.874667%201.024%2018.176%201.024%2022.613333%2023.125333%206.954667%2043.733333%207.850667%2061.994667%2012.8%2020.138667%2016.725333%208.32%2036.949333-2.986667%2040.362667z%22%20fill%3D%22%233890FF%22%20%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
}

.GRP-icon-icon_phone {
    background: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20width%3D%27100%25%27%20height%3D%27100%25%27%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20id%3D%22GRP-icon-icon_phone%22%20viewBox%3D%220%200%201024%201024%22%3E%3Cpath%20d%3D%22M0%200m256%200l512%200q256%200%20256%20256l0%20512q0%20256-256%20256l-512%200q-256%200-256-256l0-512q0-256%20256-256Z%22%20fill%3D%22%23E1F0FF%22%20%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M725.333333%20128a85.333333%2085.333333%200%200%201%2085.333334%2085.333333v597.333334a85.333333%2085.333333%200%200%201-85.333334%2085.333333H298.666667a85.333333%2085.333333%200%200%201-85.333334-85.333333V213.333333a85.333333%2085.333333%200%200%201%2085.333334-85.333333h426.666666z%20m-18.773333%2069.632H319.786667a42.666667%2042.666667%200%200%200-42.666667%2042.666667V725.333333a42.666667%2042.666667%200%200%200%2042.666667%2042.666667h386.858666a42.666667%2042.666667%200%200%200%2042.666667-42.666667V240.298667a42.666667%2042.666667%200%200%200-42.666667-42.666667z%22%20fill%3D%22%233890FF%22%20%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M512%20791.466667a42.666667%2042.666667%200%201%200%200%2085.333333%2042.666667%2042.666667%200%201%200%200-85.333333z%22%20fill%3D%22%23E1F0FF%22%20%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
}

.GRP-icon-icon_phone_default {
    background: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20width%3D%27100%25%27%20height%3D%27100%25%27%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20id%3D%22GRP-icon-icon_phone_default%22%20viewBox%3D%220%200%201024%201024%22%3E%3Cpath%20d%3D%22M0%200m256%200l512%200q256%200%20256%20256l0%20512q0%20256-256%20256l-512%200q-256%200-256-256l0-512q0-256%20256-256Z%22%20fill%3D%22%23E1F0FF%22%20%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M591.189333%20642.304l52.906667-36.565333a35.370667%2035.370667%200%200%201%2034.474667-3.2l132.650666%2059.136c16.725333%207.466667%2024.874667%2026.453333%2018.730667%2043.648l-29.269333%2081.493333c-10.794667%2030.208-40.96%2049.536-72.704%2044.373333-287.957333-47.274667-483.2-247.637333-534.954667-533.333333-5.674667-31.317333%2012.928-61.525333%2042.837333-73.002667l79.36-30.506666a35.285333%2035.285333%200%200%201%2044.544%2017.792l65.152%20138.24a34.816%2034.816%200%200%201-3.328%2035.328l-36.437333%2050.133333a33.706667%2033.706667%200%200%200-1.365333%2038.186667c21.504%2033.152%2046.250667%2064.042667%2073.941333%2092.245333%2028.928%2029.482667%2061.269333%2055.466667%2096.341333%2077.354667%2011.52%207.125333%2026.026667%206.4%2037.12-1.28z%22%20fill%3D%22%233890FF%22%20%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
}

.GRP-icon-person {
    background: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20width%3D%27100%25%27%20height%3D%27100%25%27%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20id%3D%22GRP-icon-account%22%20viewBox%3D%220%200%201024%201024%22%3E%3Cpath%20d%3D%22M583.338667%20660.608c-13.482667%2013.525333-36.650667%2052.309333-36.650667%2052.309333s-91.093333-22.954667-172.672-104.448c-77.653333-77.482667-104.618667-172.373333-104.618667-172.373333l52.352-36.608s18.56-16.512%205.290667-36.608c-13.312-20.053333-125.568-161.92-125.568-161.92s-23.509333-26.538667-47.104-10.410667a298.112%20298.112%200%200%200-57.6%2052.266667S15.36%20407.296%20298.069333%20689.536c284.032%20283.52%20448.128%20210.645333%20452.693334%20206.165333%204.48-4.522667%2036.949333-36.266667%2049.749333-60.117333%2012.8-23.808%207.04-29.568-2.602667-39.210667-9.685333-9.6-177.92-135.765333-177.92-135.765333s-23.125333-13.482667-36.650666%200z%22%20fill%3D%22%23222222%22%20%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
}

.GRP-icon-close {
    background-image: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20width%3D%27100%25%27%20height%3D%27100%25%27%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20id%3D%22GRP-icon-close%22%20viewBox%3D%220%200%201024%201024%22%3E%3Cpath%20d%3D%22M266.0352%20212.3264l4.3008%203.7376L512%20457.6768l241.664-241.664a38.4%2038.4%200%200%201%2058.0096%2050.0224l-3.7376%204.3008L566.3232%20512l241.664%20241.664a38.4%2038.4%200%200%201-50.0224%2058.0096l-4.3008-3.7376L512%20566.3232l-241.664%20241.664a38.4%2038.4%200%200%201-58.0096-50.0224l3.7376-4.3008L457.6768%20512l-241.664-241.664a38.4%2038.4%200%200%201%2050.0224-58.0096z%22%20fill%3D%22%23909399%22%20%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
}
